.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  width: 160px;
  padding: 2px 0px;
  font-size: 15px;
  color: #000;
  margin: 3px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-background-clip: padding;
 
}
  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    cursor: pointer;
  }
    .ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: rgb(120, 90, 40);
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  
.ui-helper-hidden-accessible{
  display:none;
}